<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .dragging .dnd-ul{
            padding-bottom:40px;
            outline: 1px dashed grey;
        }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="container" ng-class="{dragging:isDragging}">
        <div class="row">
            <div class="col-sm-2">
                <h3>New Elements</h3>
                <ul>
                    <li ng-repeat="item in models.templates"
                        dnd-draggable="item"
                        dnd-effect-allowed="copy"
                        dnd-copied="item.id = item.id + 1"
                        dnd-dragstart="dragging()"
                        dnd-dragend="dragend()"
                    >
                        <button type="button" class="btn btn-default btn-lg">{{item.type}}</button>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
                    <div class="dropzone box box-yellow">
                        <h3>Dropzone {{zone}}</h3>
                        <ul dnd-list="list" class="dnd-ul">
                            <li ng-repeat="item in list"
                                dnd-draggable="item"
                                dnd-effect-allowed="move"
                                dnd-moved="list.splice($index, 1)"
                                ng-class="{selected: models.selected === item}"
                                ng-include="item.type + '.html'">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
<pre>{{models.dropzones.main|json}}</pre>
            </div>
        </div>
    </div>
</div>
<script>
    angular
        .module('myApp', ['dndLists'])
        .controller('myCtrl', function ($scope) {
            $scope.dragging = function () {
                $scope.isDragging = true;
            };
            $scope.dragend = function () {
                $scope.isDragging = false;
            };
            $scope.models = {
                templates: [
                    {type: "item", id: 2},
                    {type: "container", id: 1, childNodes: []}
                ],
                dropzones: {
                    "main": []
                }
            };
        });
</script>
</body>
</html>
